<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="txtAdm" value=""/>
    <add key="txtSenha" value=""/>
    <add key ="txtPrefixo" value=""/>
    <add key="txtQtd" value=""/>
    <add key="txtAdmDominio" value=""/>
    <add key="txtSenhaDominio" value=""/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>